{% extends "base.html" %}

{% block content %}
  <div class="page-content">
    <div class="page-title">
      <h1>Dashboard</h1>
    </div>

    <div class="feed-column">
      <div class="filter-bar">
        <ul>
          <li class="active">All News</li>
          <li>Relevant to My Tags</li>
          <li>Saved</li>
          <li>Sponsored</li>
        </ul>
      </div>

      <div class="feed-story">
        <h1 class="story-title">
          Coca-Cola Commercial
        </h1>
        <p class="story-tagline">
          Brief Details About Project
        </p>
        <div class="story-tags">
          <ul>
            <li>UPTEMPO</li>
            <li class="tag-sep">|</li>
            <li>INSTRUMENTAL</li>
            <li class="tag-sep">|</li>
            <li class="last-tag">HAPPY</li>
          </ul>
        </div>
        <p class="story-description">
          Here is a brief project description. This could include
          a statement from the client, notes about the song, etc.
        </p>
        <div class="story-view">
          + Quick View
        </div>
      </div>

      <div class="feed-story">
        <h1 class="story-title">
          Coca-Cola Commercial
        </h1>
        <p class="story-tagline">
          Brief Details About Project
        </p>
        <div class="story-tags">
          <ul>
            <li>UPTEMPO</li>
            <li class="tag-sep">|</li>
            <li>INSTRUMENTAL</li>
            <li class="tag-sep">|</li>
            <li class="last-tag">HAPPY</li>
          </ul>
        </div>
        <p class="story-description">
          Here is a brief project description. This could include
          a statement from the client, notes about the song, etc.
        </p>
        <div class="story-view">
          + Quick View
        </div>
      </div>

      <div class="feed-story">
        <h1 class="story-title">
          Coca-Cola Commercial
        </h1>
        <p class="story-tagline">
          Brief Details About Project
        </p>
        <div class="story-tags">
          <ul>
            <li>UPTEMPO</li>
            <li class="tag-sep">|</li>
            <li>INSTRUMENTAL</li>
            <li class="tag-sep">|</li>
            <li class="last-tag">HAPPY</li>
          </ul>
        </div>
        <p class="story-description">
          Here is a brief project description. This could include
          a statement from the client, notes about the song, etc.
        </p>
        <div class="story-view">
          + Quick View
        </div>
      </div>

    </div>

    <div class="profile-column">
      <div class="prof-inner">
        <div class="prof-welcome">
          Welcome Back,<br>
          User Name
        </div>
        
        <div class="prof-view">
          <button class="primary-btn">My Profile</button>
        </div>
        
        <div class="prof-section">
          <h1 class="prof-heading">MY PROJECTS</h1>
          <p>
            Bunch of stuff
          </p>
        </div>
        
        <div class="prof-section">
          <h1 class="prof-heading">MY ACHIEVEMENTS</h1>
          <p>
            Bunch of stuff
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}